<!-- <p>
    addassignment works!
</p>
 -->
<md-grid-list cols="12" rowHeight="500px">
    <md-grid-tile [colspan]="2">1</md-grid-tile>
    <md-grid-tile [colspan]="8">
        <!-- <div class="card card-1">
            <div class="title">
                <br>
                <h3>Add Assignment</h3>
            </div>
        </div> -->
        <md-card class="card padding0">
            <md-card-header class="title ">
                <h2>
                <md-icon>assignment</md-icon>
                Add Assignment
                </h2>
            </md-card-header>
            <md-input-container class="padding5">
                <input mdInput placeholder="Assignment Name">
            </md-input-container>
            <md-input-container class="padding5">
                <input mdInput placeholder="Assignment Number">
            </md-input-container>
            <br>
            <input placeholder="Assignment Number" type="file" class="padding5">
        </md-card>
    </md-grid-tile>
    <md-grid-tile [colspan]="2">3</md-grid-tile>
</md-grid-list>
